{% extends "base_logged_in.html" %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
                integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<body>
<div class="not_allowed" id="not_allowed" style="display:none;">
    <h1>Oops...</h1>
    <h2>You must complete at least one level before you can play games!</h2>
    <p><a href="{{ url_for('learn') }}"> GO TO LEVELS </a></p>
</div>
<h1>GAMES MENU</h1>
<div class="halfscreen">
    <h1> SINGLE PLAYER </h1>
    <div class="choosebutton">
        <p><a href="{{ url_for('single_drawing') }}"> DRAWING </a></p>
    </div>
    <div class="choosebutton">
        <p><a href="{{ url_for('single_match') }}"> MATCH </a></p>
    </div>
</div>
<div class="halfscreen">
    <h1>WITH FRIENDS</h1>
    <div class="choosebutton">
        <p><a href="{{ url_for('select_game') }}"> DRAWING </a></p>
    </div>
    <div class="choosebutton">
        <p><a href="{{ url_for('chatrooms') }}">CHAT</a></p>
    </div>

</div>
</body>

{% endblock %}
